<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/field.jpeg">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Under Radar</h1>
              <p>New experience for players to interact with coaches and colleges.</p>
              <p><a class="btn btn-lg btn-primary" href="/users/login">Login to get started!</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/field2.jpeg" style="object-fit: cover">
          <div class="container">
            <div class="carousel-caption">
              <h1>Allowing Players to Chase Their Dreams</h1>
              <p>Create a profile where coaches can access your videos and metrics.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/ryanHelgeson.jpeg" style="object-fit: cover">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Created by Ryan Helgeson</h1>
              <p>Former pitcher at Augustana University, 2014-2019.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>