<!DOCTYPE html>
<html>
  <head>
	<%- include('partials/head'); %>
  </head>
  <body>
	<div class="container">
	<header>
    <%- include('partials/nav'); %>
	</header>
    <p>This is the secret page</p>
	<footer>
    <%- include('partials/footer'); %>
	</footer>
	</div>
  </body>
</html>
